<div class="analytic">

    <div class="analytic-blocks">
        <div class="library-block">
            <h2>Книги</h2>
            <p>Количество доступных книг: 500</p>
            <p>Арендовано: 15</p>
            <p>Популярный жанр: Романтика</p>
        </div>
        
        <div class="library-block">
            <h2>Читатели</h2>
            <p>Зарегистрировано: 50</p>
            <p>Общее кол-во арендованых книг: 320</p>
            <p>Кол-во просроченных книг: 23</p>
            <p>Кол-во активных штрафов: 23</p>
            <p>Оплаченные штрафы: 90</p>
        </div>
        
    </div>
    
    <button class="toggle-recommenations">Показать рекомендации</button>
    <div class="analytic-recommendations hide">
        <div class="analytic-container grade1"></div>
        <div class="analytic-container grade2"></div>
        <div class="analytic-container grade3"></div>
        <div class="analytic-container grade4"></div>
        <div class="analytic-container grade5"></div>
        <div class="analytic-container grade6"></div>
        <div class="analytic-container grade7"></div>
        <div class="analytic-container grade8"></div>
        <div class="analytic-container grade9"></div>
        <div class="analytic-container grade10"></div>
        <div class="analytic-container grade11"></div>
    </div>
    
</div>
<script src="../scripts/analytics.js" defer></script>