<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/addBook.css">
    <script src="../scripts/changeBook.js" defer></script>
</head>
<body>
    <div class="add-book-form-wrapper">
        <form class="add-book-form">
                <input type="text" placeholder="автор" class="author-input">
                <input type="text" placeholder="название" class="title-input">
                <input type="number" min="0" class="book-count" 
                placeholder="кол-во книг">
                <select class="change-book-select-ganre">

                </select>
                <label for="publication-year-input-name">дата публикации</label>
                <input type="date" name="publication-year-input-name" 
                class="publication-year-input">

                <input type="submit" value="Изменить книгу" class="change-book-submit add-book-submit">
        </form>
    </div>
</body>
</html>