<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="signupWrapper">
        <form action="" class="signupForm">
            <div class="name">
                <input type="text" name="name" id="" placeholder="полное имя">
            </div>
            <span class="error name-errors">
fdfsdf
            </span>
            <div class="email">
                <input type="text" name="email" id="" placeholder="почта">
            </div>
            <span class="error email-error">
                
            </span>
            <div class="password">
                <input type="text" name="password" id="" placeholder="пароль">
            </div>
            <span class="error password-password">

            </span>
            <input class="signup-submit-btn" type="submit" value="Зарегистрироваться">
            <a href="./signin.html" class="to-signin-link">войти</a>
        </form>
    </div>
</body>
</html>