<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="signinWrapper">
        <form action="" class="signinForm">
            <div class="email">
                <input type="text" name="email" id="" placeholder="почта">
            </div>
            <span class="error email-error">
                error
            </span>
            <div class="password">
                <input type="text" name="password" id="" placeholder="пароль">
            </div>
            <span class="error password-password">

            </span>
            <input class="signin-submit-btn" type="submit" value="Войти">
            <a href="./signup.html" class="to-signup-link">зарегистрироваться</a>
        </form>
    </div>
</body>
</html>