<div class="students-wrapper">
    <div class="students">
        <div class="students-top-options">
          <button class="add-student">Добавить школьника</button>
          <button class="refresh-students">Обновить</button>
          <button class="showIssuedStudents false">Просроченные</button>
          <div class="students-search">
            <input type="text" placeholder="Поиск" class="students-search-input">
            <button class="student-search-button">🔍</button>
          </div>
        </div>
        <table class="students-table">
            <tr>
              <th>Полное имя</th>
              <th>Класс</th>
              <th>Номер</th>
              <th>Почта</th>
              <th>Адрес</th>
              <th>Дата Рождения</th>
              <th>Настройки</th>
            </tr>
            <tbody id="students-table-body">
              
            </tbody>
          </table>
          <script src="../scripts/students.js" defer></script>
    </div>
</div>